<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/perfil.css">
</head>
<body>
    <h2>Nome:</h2>
    <p>{{nome}}</p>

<hr>

    <h2>E-mail:</h2>
    <p>{{email}}</p>

<hr>

    <h2>ENDEREÇO:</h2>
    <p>Rua: {{rua}} </p>
    <p>bairro: {{bairro}} </p>
    <p>cidade: {{cidade}} </p>
    <p>numero: {{numero_da_casa}} </p>

<hr>

    <h2>CEP:</h2>
    <p>{{cep}}</p>

<hr>

<a href="{{ url_for('cliente.logout') }}">
    <button type="button" class="btn btn-info">SAIR DA CONTA</button>
</a>


<button 
  c-delete="/cliente/delete"
  c-redirect="/login"
  c-self-remove="true"
  class="btn btn-danger">
  Deletar minha conta
</button>

<a href="{{ url_for('cliente.config') }}">
    <button type="button" class="btn btn-info">Voltar</button>
</a>


<script src="{{ url_for('static', filename='cru.js') }}"></script>


</body>
</html>