<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../static/sobre_nos.css">
</head>
<body>

    <div class="texto">
        <h2>Sobre Nós</h2>
        <hr>

        <p>Este conteúdo foi carregado dinamicamente da rota /sobre.</p>

        <h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error a ea inventore quo similique voluptatibus magni esse?
            Totam, fugit consequuntur? Atque eligendi modi accusamus quaerat. Unde et deleniti accusantium delectus.
        </h5>

        <div class="imagem_sobre_nos"></div>

        <h5>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sequi doloremque voluptatum laudantium autem ipsum praesentium
            quae corrupti debitis quisquam accusamus, tempora cum non obcaecati laboriosam alias necessitatibus recusandae accusantium!<br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium consequuntur excepturi amet dolorum eos repudiandae reiciendis omnis, veniam
            aliquid consectetur corporis id exercitationem eaque beatae veritatis debitis quae aperiam distinctio.
        </h5>

        <hr>
        <h2>Empresas Parceiras</h2>
    </div>

    <div class="empresas_parceiras">
        <div class="empresas-icons">
            <img src="../static/brand-top.svg" width="270" height="auto" alt="Logo Brand Top">
        </div>

        <div class="empresas-icons">
            <img src="../static/natura-logo-5-1.png" width="270" height="auto" alt="Logo Natura">
        </div>

        <div class="empresas-icons">
            <img src="../static/Logo_Ambev.png" width="270" height="auto" alt="Logo Ambev">
        </div>
    </div>

</body>
</html>
