body {
  background-image: url('../static/big-monke-flips-you-off-what-u-do-v0-861gk9gqka0c1.webp');
  background-size: 750px;      
  background-position: top center;; 
  background-repeat: no-repeat; 
}
