body {
    background-color: rgb(12, 10, 24);
    display: flex;
    justify-content: center;   
    align-items: center;      
    min-height: 100vh;
    padding: 0 50px;
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 60px;
}


form {
    width: 40%;
    background-color: rgb(0, 131, 218);
    padding: 40px 25px;
    border-radius: 24px;
    color: aliceblue;
    box-shadow: 0 0 60px rgba(106, 188, 235, 0.6);
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 5;
}

.MBO {
    font-size: 36px;
    text-align: center;
    border: none;
    background-color: aliceblue;
    color: rgb(0, 131, 218);
    width: 400px;
    height: 80px;
    border-radius: 40px;
    transition: 0.3s ease;
}

.MBO:hover {
    background-color: rgb(1, 72, 119);
    color: aliceblue;
    transform: scale(1.02);
}

h1 {
    padding-bottom: 25px;
}



@media (max-width: 1200px) {
    form {
        width: 50%;
    }

    .MBO {
        width: 300px;
        font-size: 28px;
        height: 70px;
    }
}

@media (max-width: 900px) {

    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 40px 20px;
        height: auto;
        gap: 30px;
    }

    form {
        width: 90%;
        margin-bottom: 0;
    }

    .container {
        width: 100%;
        gap: 20px;
    }

    .MBO {
        width: 90%;
        max-width: 350px;
        height: 70px;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    form {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .MBO {
        width: 100%;
        font-size: 20px;
        height: 60px;
    }
}
