@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(12, 10, 24);
    margin: 0;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    max-width: 1100px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 60px rgba(0, 131, 218, 0.25);
    display: flex;
    padding: 40px;
    gap: 50px;
    align-items: flex-start;
}


.imagem-area {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem-area img {
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.info-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.info-area h1 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #0d0d0d;
    margin-bottom: 10px;
}

.marca {
    font-size: 1rem;
    color: #004b82;
    font-weight: 500;
}

.preco {
    font-size: 2rem;
    font-weight: 700;
    color: #00a650;
}

.frete {
    font-size: 1rem;
    color: #00a650;
    font-weight: 600;
}

.descricao {
    color: #222;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
}


.botao-comprar {
    margin-top: 20px;
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 14px;
    background-color: rgb(0, 131, 218);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 1px;
}

.botao-comprar:hover {
    background-color: rgb(1, 72, 119);
}

@media (max-width: 900px) {

    .container {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .imagem-area img {
        max-width: 320px;
    }

    .info-area h1 {
        font-size: 1.8rem;
    }

    .preco {
        font-size: 1.7rem;
    }
}

@media (max-width: 600px) {

    .container {
        width: 92%;
        padding: 25px;
    }

    .imagem-area img {
        max-width: 260px;
    }

    .botao-comprar {
        font-size: 1rem;
        padding: 14px;
    }
}
